@import "src/scss/colors";
@import "src/scss/indents";

.add-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $m;

  input, button {
    height: $xl;
    width: 25rem;
    padding: $sm;
    margin: 0;
  }

  button {
    cursor: pointer;
    background-color: $accentColor;
    border-radius: $sm;
  }
}