@import "src/scss/colors";
@import "src/scss/indents";
@import "src/scss/typography";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $bgColor;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: $m;
  font-size: $textM;
  color: $white;
}

.mtM {
  margin-top: $m;
}

.mbM {
  margin-bottom: $m;
}