@import "src/scss/colors";
@import "src/scss/indents";


.user {
  &-row {
    display: flex;
    justify-content: start;
    border: 1px solid $accentColor;
  }

  &-cell {
    max-width: 300px;
    width: 100%;
    padding: $m;
  }

  &-add {
    background-color: $accentColor;
    border-radius: $sm;
    padding: $l;
    cursor: pointer;
  }

  &-checkbox {
    max-width: 1rem;
    width: 100%;
  }
}